In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/rgangurde/Downloads/EpochWithLocation.txt', sep = ',')

In [3]:
df.head()

,FID,OID_1,XDSegID,PreviousXD,NextXDSegI,FRC,RoadNumber,RoadName,LinearID,Country,...,Bearing,XDGroup,ShapeSRID,SegmentID,Field1,Segment_ID,epoch,hh,mm,speed_ave
0,0,None,116756782,1187377796,1187516992,1,52,ID 52,None,United States of America,...,S,6266,4326,116756782,0,116756782,5,0,25,30.500000
1,1,None,117507690,118104172,119202035,3,26,North 26th West,None,United States of America,...,S,10727,4326,117507690,845,117507690,0,0,0,33.000000
2,2,None,117508471,117901399,117721001,2,None,Simco Road,None,United States of America,...,S,10730,4326,117508471,1062,117508471,26,2,10,17.000000
3,3,None,117503882,1187522689,1187506550,2,None,East Franklin Road,None,United States of America,...,W,10703,4326,117503882,557,117503882,0,0,0,29.571429
4,6,None,117516552,None,117768793,3,None,Northside Road,None,United States of America,...,S,10805,4326,117516552,1243,117516552,6,0,30,40.000000

In [4]:
df.shape

(19556, 32)

In [5]:
df_Epoch = pd.read_csv('C:/Users/rgangurde/Downloads/Data/tt2018_by_seg_by_epoch_speed_ave.csv')

In [6]:
df_Epoch.head()

   Unnamed: 0  Segment_ID  epoch  hh  mm  speed_ave
0           0   116756782      5   0  25       30.5
1           1   116756782      6   0  30       30.5
2           2   116756782      7   0  35       30.0
3           3   116756782     10   0  50       29.0
4           4   116756782     12   1   0       31.0

In [7]:
from datetime import time
import numpy as np
hours= np.asanyarray(df_Epoch['hh'])
mins= np.asanyarray(df_Epoch['mm'])
# print(len(df_Epoch[:]))
print(len(hours))
hourMin = []
for i in range(len(hours)) :
    hourMin.append(time(hours[i], mins[i]))

4856076

In [8]:
hourMin = np.asanyarray(hourMin)

In [10]:
df_Epoch['Time'] = hourMin

In [11]:
df_Epoch= df_Epoch.drop('hh', axis= 1)
df_Epoch= df_Epoch.drop('mm', axis= 1)

In [85]:
df_Epoch.head()

   Unnamed: 0  Segment_ID  epoch  speed_ave      Time
0           0   116756782      5       30.5  00:25:00
1           1   116756782      6       30.5  00:30:00
2           2   116756782      7       30.0  00:35:00
3           3   116756782     10       29.0  00:50:00
4           4   116756782     12       31.0  01:00:00

In [86]:
del Epoch

In [12]:
df_Epoch.to_csv()